.idea
# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\VueProject\2021\hello-bbs\spring-session\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Project exclude paths
/target/
spring-session.iml