<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>

function checkSession() {

    $.get('/api/members', data => {

        console.log(data)

        for (const m of data) {
            console.log(m)
        }
    })
}

</script>

<h1>auth 인증된 페이지 입니다</h1>

<button onclick="checkSession()">요청</button>

